{% extends "layout.html" %}
{% block content %}
<form action="/create_listing" method="post">
    <input type="text" name="item" placeholder="name of the item">
    <input type="text" name="maker" placeholder="maker of the item">
    <input type="number" step="0.01" name="price" placeholder="your price">
    <input type="text"  name="description" placeholder="info eq. condition, etc..">
    <input type="text" name="tags" placeholder="tags eq. game,multiplayer">
   <input type="submit" value="add your listing">
</form>
{% endblock %}